{% if userlist %}
  <h2> Users</h2>
    <ul>
    {% for user in userlist %}
    <li>
        <a href="/chores/user/{{ user.id }}"> {{ user }} </a>
        has {{ user.points }} points.
        <a href="/chores/{{ user.nexttask.id }}"> {{ user.nexttask }} </a>
    </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No Users defined.</p>
{% endif %}

{% if tasklist %}
  <h2> Tasks</h2>
    <ul>
    {% for task in tasklist %}
    <li>
    <a href="/chores/{{ task.id }}"> {{ task }} </a> 
    should be done in the following order: <br />
    {% for userpoint in task.userpoints %}
        {{ userpoint.1 }}({{ userpoint.0 }}),
        
    {% endfor %}
    </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No Tasks need to be done at this time.</p>
{% endif %}
